/** css/tempest.css **/

@import 'theme.css';

.s1, .s2, .s4 { stroke: var(--wavedrom-foreground) !important; }
.s3 { fill: var(--wavedrom-pull-ud) !important; stroke: var(--wavedrom-pull-ud) !important; }
.s5 { fill: var(--wavedrom-background) !important; }
.s6 { fill: var(--wavedrom-clock-arrow) !important; }
.s7 { fill: var(--wavedrom-1) !important; }
.s8 { fill: var(--wavedrom-2) !important; }
.s9 { fill: var(--wavedrom-3) !important; }
.s10 { fill: var(--wavedrom-4) !important; }
.s11 { fill: var(--wavedrom-5) !important; }
.s12 { fill: var(--wavedrom-6) !important; }
.s13 { fill: var(--wavedrom-7) !important; }
.s14 { fill: var(--wavedrom-8) !important; }
.s15 { fill: var(--wavedrom-arrow) !important; }
.s16 { stroke: var(--wavedrom-arrow) !important; }

/*
.muted { fill: #aaa; }
.warning { fill: #f6b900; }
.error { fill: #f60000; }
.info { fill: #0041c4; }
.success { fill: #00ab00; }
*/

svg.WaveDrom > g > rect
{
	fill: var(--wavedrom-background) !important;
}

@media screen and (prefers-color-scheme: light)
{
	svg.WaveDrom
	{
		--wavedrom-foreground: #000;
		--wavedrom-background: #fff;
		--wavedrom-clock-arrow: #000;
		--wavedrom-pull-ud: #000;
		--wavedrom-0: #000;
		--wavedrom-1: #000;
		--wavedrom-2: #ffffb4;
		--wavedrom-3: #ffe0b9;
		--wavedrom-4: #b9e0ff;
		--wavedrom-5: #ccfdfe;
		--wavedrom-6: #cdfdc5;
		--wavedrom-7: #f0c1fb;
		--wavedrom-8: #f5c2c0;
		--wavedrom-arrow: #0041c4;
	}
}

@media screen and (prefers-color-scheme: dark)
{
	body { color: #b9b9b9; }
	html, .wy-body-for-nav { background-color: #181818 !important; }
	a { color: #58a6da; }
	a:visited { color: #aa71c1; }

	.wy-side-nav
	{
		color: #a0a0a0;
		background-color: #292929;
	}

	.wy-side-nav-search
	{
		background-color: #2573a7;
		color: #eee;
	}

	.wy-side-nav-search input[type="text"] { border-color: #2573a7; }

	.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a
	{
		color: #b9b9b9;
		background-color: #1c1c1c;
	}

	.wy-menu-vertical li.current > a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand
	{
		color: #c2c2c2;
	}

	.wy-menu-vertical li.current a { border-right-color: #444; }
	.wy-menu-vertical li.current { background-color: #2b2b2b; }
	.wy-menu-vertical li.toctree-l1.current { border-color: #444; }
	.wy-menu-vertical li.toctree-l1.current > a { border-color: #444; }

	.wy-menu-vertical li.toctree-l2.current > a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a
	{
		background-color: #3a3a3a;
	}

	.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a,
	.wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a,
	.wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a
	{
		color: #b9b9b9;
	}

	.wy-nav-content { background-color: #1c1c1c; }

	input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"],
	input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
	input[type="text"], input[type="time"], input[type="url"], input[type="week"]
	{
		box-shadow: rgb(43, 47, 49) 0px 1px 3px inset;
	}

	.rst-content code, .rst-content tt, code
	{
		background-color: #1a1a1a;
		border-color: #3c3c3c;
	}

	.rst-content code.literal, .rst-content tt.literal
	{
		color: #e95849;
	}

	.rst-content table.docutils, .wy-table-bordered-all { border-color: #3c3c3c; }
	.rst-content table.docutils thead, .rst-content table.field-list thead, .wy-table thead { color: #e6e6e6; }
	html.writer-html5 .rst-content table.docutils th { border-color: #3c3c3c; }
	.rst-content table.docutils td, .wy-table-bordered-all td { border-color: #3c3c3c; }

	.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td,
	.wy-table-striped tr:nth-child(2n-1) td
	{
		background-color: #333;
	}

	svg.WaveDrom
	{
		--wavedrom-foreground: #ccc;
		--wavedrom-background: #1c1c1c;
		--wavedrom-clock-arrow: #999;
		--wavedrom-pull-ud: #999;
		--wavedrom-0: #ccc;
		--wavedrom-1: #ccc;
		--wavedrom-2: #b2b300;
		--wavedrom-3: #b86500;
		--wavedrom-4: #0065b8;
		--wavedrom-5: #04c5c8;
		--wavedrom-6: #22bb07;
		--wavedrom-7: #930bb1;
		--wavedrom-8: #9f1d19;
		--wavedrom-arrow: #4785ff;
	}

	svg.WaveDrom > g > g > g:nth-child(1) > g
	{
		stroke: #ccc !important;
	}

	svg.WaveDrom text
	{
		color: #1c1c1c;
	}

	svg.WaveDrom > g > g > g:has(text) > text
	{
		fill: #6b9cff;
	}

	svg.WaveDrom > g  g:has(text):has(rect) > rect
	{
		fill: #444 !important;
	}

	svg.WaveDrom > g  g:has(text):has(rect) > text
	{
		fill: #eee !important;
	}
}
